@import 'compass/css3';
@import 'compass/css3/selection';

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

* { @include selection(#ffc933, #fff); }

html{ height: 100%; }

body {
  font-size: 30px;
  line-height: 1.7;
  height: 100%;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  color: #828282;
  background: #fff;
}

#page {
  height: 100%;
  overflow-x: visible;
  @include transition-duration(0.5s);
}

a {
  color: #07add3;
  @include transition-duration(0.5s);
}

a:hover, a:active, a:focus {
  color: #07add3;
  outline: none;
  text-decoration: none;
}

p { margin-bottom: 20px; }

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

.display-t, .display-tc {
  z-index: 9;
  height: 100%;
  display: table;
  width: 100%;
}

.display-tc {
  display: table-cell !important;
  vertical-align: middle;
}

.btn {
  padding: 8px 20px;
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  @include border-radius(4px);
  @include transition-duration(0.5s);

  &.btn-primary {
    background: #ffc933;
    color: #fff;
    border: 2px solid #ffc933;
    &:hover, &:active, &:focus {
      background: #ffc933 !important;
      border-color: #ffc933 !important;
    }

    &:hover {
      @include box-shadow(0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important);
    }
  }

  &.btn-md{ padding: 8px 20px !important; }

  &.btn-lg{ padding: 18px 36px !important; }

  &:hover, &:active, &:focus {
    box-shadow: none !important;
    outline: none !important;
    text-decoration: none;
    @include box-shadow(0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important);
  }
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff;
}

.js .animate-box {
  opacity: 0;
}

.cover-card {
  height: 100%;
  width: 100%;
  z-index: 0;
  background-position: center right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-color: rgba(7, 173, 211, 1);
  background-image: url(../images/peso-digital-stroke.svg);

  @media screen and (max-width: 768px) { font-size: 20px; }
  @media screen and (max-width: 992px) {
    background-size: 40%;
    background-position-y: bottom;
    background-position-x: 35%;
  }

  .container, .container .row, .container .row > div {
    height: 100%;
  }

  h1{
    font-size: 1.9em;
    margin: 0 0 0.5em 0;
    padding: 0;
    line-height: 1.3;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    color: white;
  }

  .btn {
    padding: 0.35em 1.1em;
    color: #fff;
    font-size: 0.7em;
    text-transform: uppercase;
    @include border-radius(4px);
    border: 2px solid white;
  }
}

.card{
  clear: both;
  padding: 3em 0;
  @media screen and (max-width: 768px) { font-size: 25px; }

  &.alternate-bg {
    background: #F0F5F9;
    border-bottom: 1px solid #dae6ef;
    position: relative;
    z-index: 10;
    @include box-shadow(0px 5px 7px -7px rgba(0, 0, 0, 0.15));
  }

  &.first-card{
    background-position: center right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-image: url(../images/peso-digital-stroke-grey.svg);

    @media screen and (max-width: 992px) {
      background: none;
    }
  }

  h1 {
    font-size: 1.2em;
    margin-bottom: 1em;
    font-weight: 300;
    text-transform: uppercase;
    color: #aaa;
    @media screen and (max-width: 768px) {
    }
  }

  h2{
    font-size: 0.9em;
    font-weight: 200;
    color: #777;
    margin-bottom: 0.5em;
  }

  p {
    font-size: 0.7em;
    text-align: justify;
    color: #111;
    
    &.answer{
      color: #111;
      margin-bottom: 1.8em;
    }
  }
}

.footer {
  background: rgba(7, 173, 211, 1);
  padding: 2em 0;
  @media screen and (max-width: 768px) { font-size: 25px; }

  h2 {
    font-size: 1.2em;
    color: #fff;
    margin-bottom: 0.5em !important;
    font-weight: 300;
  }

  .btn {
    font-size: 0.6em;
    padding: 0.9em 1.4em;
    border: 2px solid white;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    background: transparent;

    &.btn-primary{
      border: none !important;
      background: #ffc933;
      &:hover {
        background: #ffc933 !important;
        @include box-shadow(0px 14px 20px -9px rgba(0, 0, 0, 0.75) !important);
      }
    }
  }
}

.testimonial {
  background: #F0F5F9;
  padding: 1.5em;
  position: relative;
  margin-bottom: 2em;

  &:after{
    position: absolute;
    left: 11%;
    bottom: -30px;
    display: block;
    width: 0;
    content: "";
    border-width: 30px 30px 0 0;
    border-style: solid;
    border-color: #F0F5F9 transparent;
  }

  &.alternate {
    background: #02add3;

    p {
      color: #fff;
      &.author cite { color: rgba(255, 255, 255, 0.7); }
    }

    &:after { border-color: #02add3 transparent; }
  }

  blockquote {
    border-left: none;
    padding: 0;
    margin: 0;
  }

  p, a{
    color: #666666;
    font-size: 18px;
    font-style: italic;
    line-height: 1.5;
  }

  p.author { color: #b3b3b3; }

  img{
    width: 60px;
    margin-right: 20px;
    @include border-radius(50%);
  }

  cite{
    font-style: normal;
    font-size: 0.9em;
    font-family: "Open Sans", Arial, sans-serif;
  }
}

