.cover-card
  .container.animate-box
    .row
      .col-md-7
        .display-t
          .display-tc
            %h1 Pesos Argentinos en una Red Abierta
            %a.btn.btn-link(href="#problema") Problema
            %br.visible-sm.visible-xs
            %a.btn.btn-link(href="#solucion") Solución
            %br
            %a.btn.btn-link(href="#que_tenemos") Que tenemos
            %br.visible-sm.visible-xs
            %a.btn.btn-link(href="#que_falta") Que falta

#problema.card.first-card
  .container.animate-box
    .row
      .col-md-8
        %h1 Problema
        %p
          El sistema actual de bancos y redes privativas excluye a la mayor
          parte del mercado porque es caro, lento, y poco confiable.
        %p
          Seguimos usando efectivo que también es caro e inseguro. Lo sufren
          mas los grandes retails, los jornaleros que cobran efectivo y
          los turistas.
        %p
          Las fintechs quieren innovar y ayudar pero también son excluidas,
          o gastan el tiempo en conectarse a redes en vez de servir clientes.
        
#solucion.card.alternate-bg
  .container.animate-box
    .row 
      .col-md-8
        %h1 Solución
        %p
          Formemos una red abierta, a la que cualquier persona o fintech
          pueda sumarse sin pedir permiso ni riesgo de censura.

        %p
          El Bitcoin sirve para esto como red, pero el precio es
          muy volátil. Necesitamos que nuestra red esté denominada en pesos.

        %p
          Representar pesos es trivial para el blockchain de Bitcoin.
          La complejidad está en establecer un fiduciario que los respalde.

#que_tenemos.card
  .container.animate-box
    .row 
      .col-md-8
        %h1 Que tenemos, que hicimos.
        %p
          Tenemos el apoyo y conocimiento de la comunidad mundial de Bitcoin y
          Blockchain. Este es un tema de interés para todos ellos.

        %p
          En noviembre de 2016 presentamos formalmente Peso Digital al
          BCRA y al ministerio de producción.
          Validamos con otras fintechs, y grandes retails.

        %p
          Diagramamos el ecosistema, con los principales roles a tomar.

        %h2 Custodio
        %p
          Resguarda los pesos tradicionales que respaldan cada peso digital.
          De preferencia tiene una cuenta en BCRA para hacerlo.
        %p
          Recibe a su cuenta los cash-in y emite los cash-out a pedido del
          %strong Emisor.

        %p
          El rol de
          %strong Custodio
          es único y exclusivo. A ser tomado por el BCRA
          o una entidad financiera autorizada.

        %h2 Emisor
        %p
          Emite los pesos digitales en las distintas redes, garantizando que
          el circulante esté respaldado por el
          %strong Custodio.
        %p
          Habla solo con
          %strong usuarios de primera linea
          que son otras fintechs o entidades que agrupan
          cash-ins y cash-outs de
          %strong usuarios finales.
        %p
          Delega el cash-in y cash-out de pesos tradicionales al
          %strong Custodio.
        %p
          Este rol es único y exclusivo.
          El expertise de Bitex le permite tomarlo inmediatamente.
          También es posible crear un joint venture entre empresas
          existentes. Esto ayudaría a dar transparencia y mayor seguridad,
          repartiendo el control de la emisión.

        %h2 Usuarios de primera linea
        %p
          Empresas que aceptan pesos digitales de alguna forma:
          Billeteras digitales, bancos, plataformas de préstamos,
          pasarelas de pagos, remesadoras, o grandes retails.

        %p
          Organismos que trabajan en inclusión financiera,
          ofreciendo su propia billetera a no bancarizados, y
          personas físicas con voluntad de gestionar su propio clearing.

        %p
          Son el nexo entre el
          %strong Emisor
          y los
          %strong Usuarios finales
          para cash-in y cash-out.

        %p
          Se comunican con el
          %strong emisor
          para hacerse/deshacerse de los pesos
          digitales de los
          %strong usuarios finales.
          Pueden compensar internamente o entre ellos para reducir la
          interacción con el 
          %strong emisor.

        %p
          Se conectan con distintas redes de pagos y entre ellos.
          Pueden hacer movimientos internos para los envíos de dinero
          entre sus propios clientes, sin registrar en el blockchain.

        %p
          Este rol no es exclusivo, debe ser tomado por varias empresas,
          mientras más mejor. Ya tenemos muchos intereses alineados para
          sumarse lo antes posible, y la voluntad de otros tantos luego.
        
        %p
          Bitex toma este rol para su servicio de compra/venta de
          Bitcoin contra Pesos Argentinos.

        %h2 Usuarios finales
        %p
          Son las personas y comercios que tienen cuenta con uno o varios
          %strong usuarios de primera linea. 

        %h2 Proveedores de software
        %p
          Son los equipos de desarrollo internos o externos que integran
          peso digital a los procesos de cada
          %strong usuario de primera linea.

        %p
          Cualquier desarrollador o empresa de software puede tomar este rol.

        %p
          Bitex está en proceso de liberar todo su software para minimizar la
          inversión y duplicación del trabajo de los desarrolladores.

        %h2 Blockchains
        %p
          Hay varios protocolos y blockchains de los cuales el
          %strong emisor
          y los
          %strong usuarios de primera linea
          puede elegir, en la medida que cumplan ciertos requisitos.

        %p
          Algunas opciones son:
          Colu, OpenAsset, Bitshares, Rootstock, Ethereum, Litecoin, Ripple.
          %br
          Actualmente tenemos una demo en
          %strong OpenAsset.
          %br
          Estamos trabajando en
          %strong Colu.
          %br
          %strong Rootstock
          está trabajando en ser excelente para peso digital.

        %h2 Comunicadores
        %p
          Informan de que se trata peso digital, invitan a personas y
          empresas a sumarse a la red vía redes sociales, meetups, etc.
        %p
          Este rol es compartido por todos los interesados, incluida la
          comunidad Bitcoin local, además del grupo específico de
          Peso Digital.

#que_falta.card.alternate-bg
  .container.animate-box
    .row 
      .col-md-8
        %h1 Que falta
        %p
          Cubrir el rol de fiduciario, con una entidad financiera que pueda
          custodiar el respaldo de los pesos digitales.
        %p
          Una nueva entidad emisora, mas abierta, con participación de otros
          interesados del ecosistema.
        %p
          Terminar de abrir el software que permitiría al custodio,
          emisor y otros fintechs participar de la red de peso digital
          minimizando esfuerzos de desarrollo individuales.

